.main-form {
    width: 300px;
    height: 400px;
    background-color: blue;
}

.main-form label {
    margin-left: 30px;
    color: white;
}

.main-form input {
    margin-left: 30px;
    display: block;
    clear: both;
}

.main-form button {
    margin-left: 30px;
    margin-top: 50px;
    text-align: center;
    width: 80px;
    height: 30px;
    border: 1px solid black;
}